body {
    font-family: 'Dosis', sans-serif;

}

* {
    box-sizing: border-box;
}

p,
li {
    font-size: 24px;
}

.head {
    color: #008080;
}

.heading {
    margin-top: 20px;
    color: white;
    text-shadow: 1px 1px darkgray;
    background: url(images/board.jpg);
}

.col-tabs {
    width: 12.5%;
    text-shadow: :2px 2px #a3c2c2;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;

}



.navbar {
    display: flex;
}

.board {
    display: flex;
    flex-direction: column;

}

.mainboard {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width:981px) {

    /* For mobile phones: */
    .navbar {
        width: 20%;
        flex-direction: column;
        border-right: 2px solid darkgray;
    }

    .col-tabs {
        width: auto;
        margin-top: 15px;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
